.DS_Store
*.log
node_modules
# Dist and query are both build output folders
dist/
types/
# But don't ignore the RTK Query source
lib
es

.yalc
yalc.lock

.idea/
temp/
.tmp-projections
build/
.rts2*
coverage/

typesversions
.cache
.yarnrc
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn.lock
.pnp.*
*.tgz

.yalc
yalc.lock
yalc.sig
example

.env*

package-lock.json
storybook-static

